*.csv
*.png
*.html
*.xls
*.xlsx

# R user files
.Rproj.user
.Rhistory
.Rhistory
.Rhistory

# Allowed files
!Experimental Data.csv
!GCAM_regions.csv
!GCAM_soilC.csv
!GLU_codes.csv
!basin_to_country_mapping.csv
!soil_timescales.csv
!Wei et al Data.csv
!gca_emissions_LUC_net.csv
!GCA_GCAM_regID.csv
